<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.Device.robot" 
       class = "robot.device.DevicePackage"
       genModel = "model/generated/Device.genmodel" /> 
	
  </extension>



</plugin>
